.item {
  width: 150px;
  padding: 10px;
  background-color: #dae0e6;
  display: flex;
  align-items: center;
  gap: 20px;
  border-radius: 5px;
}

.status {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}