.transactionHistory {
  border-collapse: collapse;
  border: 1px solid rgb(211, 207, 207);
  width: 600px;
}

.transactionHistory th {
  background-color: aqua;
}

.transactionHistory tr:nth-child(even) {
  background-color: rgb(155, 149, 148);
}

.transactionHistory th,
.transactionHistory td {
  padding: 8px 16px;
  text-align: center;
  border-bottom: 1px solid rgb(211, 207, 207);
}